
{% extends "_layouts/main" %}
{% block main %}

<section id="jumbo" class="full-bleed-header">
    <div class="slide-me">

        {% for global in homePageSliderImages.featuredImage.limit(3).all() %}
            <div class="slide-me-item" style="background-image:url({{ global.getUrl() }});"></div>
        {% endfor %} 

    </div>
</section>

<div class="row main">


 <div class="gridzy gridzySkinFullOverlay" data-gridzy-spaceBetween="20" data-gridzy-desiredHeight="400">
{% for entry in craft.entries.section('recent').limit(10).level('1') %}

    {% for block in entry.portfolio.all() %}
   
        {% switch block.type.handle %}


        {% case "portfolioItems" %} 

        <div class="item">
            {% for image in block.portfolioImage.all() %}
            <a data-fancybox="gallery" href="{{ image.getUrl() }}">
                <h3 class="gridzyCaption">{{ block.imageTitle }}</h3>
                <img class="gridzyImage" data-gridzylazysrc="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}">
                </a>
            {% endfor %}
        </div>

        {% case "details" %} 

        <div class="item">
            <p><span class="orange">{{ block.benefit }}</span> - {{ block.description }}</p>
            <h3 class="sectionHead">{{ block.imageTitle }}</h3>
        </div>

        {% endswitch %}
    
    {% endfor %}
  {% endfor %}
    </div>

</div>

{% endblock %}